{%extends 'layout.html'%}
    {%block content%}
    <br/>
    <div class="alert alert-primary" role="alert">
       <a href="{{ url_for('GuideRegistration')}}">Register</a> as a guide for <a href="{{ url_for('home')}}">projects</a> submitted by students!
    </div>
    <div id="forms">
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th>Sr. No</th>
            <th>Guide Name</th>
            <th>Guide Email</th>
          </tr>
        </thead>
        <tbody>
          {% for guide in guides.items %}
          <tr>
            <td>{{guide.id}}</td>
            <td>{{guide.name}}</td>
            <td>{{guide.email}}</td>
          </tr>
            {% endfor %}
        </tbody>
      </table>
      {% for page_num in guides.iter_pages() %}
        {% if page_num %}
          <a class="btn btn-outline-info mb-4" href="{{url_for('guide', page=page_num)}}">{{ page_num }}</a>
        {% else %}
          ...
        {%endif%}
      {%endfor%}
    </div>
  {%endblock content%}
