{%extends 'layout.html'%}
    {%block content%}
    <br/>
    <div class="alert alert-primary" role="alert">
      College Student Projects. <a href="{{ url_for('ProjectRegistration')}}">Register</a> to submit your team project!
    </div>
      {% for project in projects %}
        <div class="card">
          <div class="card-body">
            <a href="#" class="badge badge-primary">Computer Science & Engineering</a>
            <a href="#" class="badge badge-secondary">{{project.mentor.name}}</a>
            <a href="#" class="badge badge-success">{{project.date}}</a><br />
            <span id="project-title"><h4>Title: {{ project.title.title() }}</h4></span>
            <span id="members"><b>Members:</b>&nbsp;&nbsp;&nbsp;
            {% for member in project.team.members%}
              <span class="badge badge-light">{{member.name}}</span>
            {% endfor %}
            </span><br  />
            <p id="description"><b>Description:</b><br />
              {{project.desc[:60]}}
              {% if project.desc|length >60 %}
                <span>...</span>
              {% endif%}
              (Status: {{project.status}})
            </p>
            <button class="view-more btn my-2 my-sm-0 float-right" type="button">View More</button>
          </div>
        </div>
        <br/>
      {% endfor %}
    {%endblock content%}
    <br />
