{%extends 'layout.html'%}
  {%block content%}
  <div class="info-box">
    <p>We recommend you to choose a strong password.
      <br/><b>How we secure your password?</b><br/>
      &emsp;We ensure high-end data security in our system. We store your passwords in an encrpyted format of 16-bit salt summing upto 60 characters, hence making it extremely difficult to crack! Thanks to <b>Python</b>!
      <br/> Further we are happy to show you how these passwords are stored in our database, anytime on demand! :)


  </div>
    <div id="forms">
      <form method="post" action="">
        {{ form.hidden_tag()}}
        <h3 class="formTitle">Guide Password Reset Form</h3>
        <div class="form-group">
          {{form.username.label(class="form-control-label")}}
          {% if form.username.errors %}
            {{form.username(class="form-control is-invalid")}}
            {% for error in form.username.errors %}
              <span class="errorFeedback">{{ error }}</span>
            {% endfor %}
          {% else %}
            {{form.username(class="form-control")}}
          {% endif %}
        </div>
        <div class="form-group">
          {{form.password.label(class="form-control-label")}}
          {% if form.password.errors %}
            {{form.password(class="form-control is-invalid")}}
            {% for error in form.password.errors %}
              <span class="errorFeedback">{{ error }}</span>
            {% endfor %}
          {% else %}
            {{form.password(class="form-control")}}
          {% endif %}
        </div>
        <div class="form-group">
            {{form.confirmPassword.label(class="form-control-label")}}
            {% if form.confirmPassword.errors %}
              {{form.confirmPassword(class="form-control is-invalid")}}
              {% for error in form.confirmPassword.errors %}
                <span class="errorFeedback">{{ error }}</span>
              {% endfor %}
            {% else %}
              {{form.confirmPassword(class="form-control")}}
            {% endif %}
        </div>
        <div class="form-group">
            {{form.registerGuide(class="btn btn-outline-primary")}}
        </div>
      </form>

    </div>
  {%endblock content%}
