{%extends 'layout.html'%}
    {%block content%}
    <br/>

    <div id="forms">
      <div class="container">
        <!-- <h4 style="text-align:center;">Mahatma Gandhi Mission's College of Engineering</h4>
        <h5 style="text-align:center;">Department of Computer Science and Engineering</h5><hr /> -->
        <a style="text-align:right" href="{{url_for('updateProject', project_id=project.id)}}"><span class="badge badge-warning"><i class="far fa-edit"></i>Click to Update details</span></a>
        <h5 style="text-align:right"><span class="badge badge-primary">{{project.code}}</span></h5>
        <ul class="nav nav-tabs" role="tablist">
          <li class="nav-item">
            <a class="nav-link tab-design active" data-toggle="tab" href="#ProjectDetails">Project Details</a>
          </li>
          <li class="nav-item">
            <a class="nav-link tab-design" data-toggle="tab" href="#ProjectTeam">Project Team</a>
          </li>
          <li class="nav-item">
            <a class="nav-link tab-design" data-toggle="tab" href="#Meetings">Demos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link tab-design" data-toggle="tab" href="#References">References</a>
          </li>
        </ul>
  <!-- Tab panes -->
        <div class="tab-content">
          <div id="ProjectDetails" class="container tab-pane active"><br>
            <h3>Project Details</h3>
            <div class="table table-responsive">
              <table class="table table-bordered table-hover">
                <tbody>
                  <tr>
                    <th scope="row">Project ID: </th>
                    <td>{{project.code}}</td>
                  </tr>
                  <tr>
                    <th scope="row">Project Title: </th>
                    <td>{{project.title}}</td>
                  </tr>
                  <tr>
                    <td colspan="2"><b>Project Description: </b><br /> &nbsp;&nbsp;&nbsp;&nbsp;{{project.desc}}</td>
                  </tr>
                  <tr>
                    <th scope="row">Submitted on: </th>
                    <td>{{ project.date_created.strftime('%d-%B-%Y at %H:%M(%A)') }}</td>
                  </tr>
                  <tr>
                    <th scope="row">Technology Used: </th>
                    <td>{{ project.techUsed }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div id="ProjectTeam" class="container tab-pane fade"><br>
            <h3>Project Team</h3>
            <p>
              This project is being designed, developed and implemented under the guidance of <b>Prof. {{project.int_relation.name}}</b> and externally guided by <b>Prof. {{project.ext_relation.name}}</b>.
            </p>
            <table class="table-sm table-hover table-bordered">
              <tbody>
                <tr id="head">
                  <td>Name</td>
                  <td>Phone</td>
                  <td>Email</td>
                </tr>
                <tr id="leader">
                  <td>{{project.team.members[0].name}}</td>
                  <td>{{project.team.members[0].phone}}</td>
                  <td>{{project.team.members[0].email}}</td>
                </tr>
                  {% if project.member1%}
                    <tr>
                      <td>{{project.member1}}</td>
                      <td>Phone</td>
                      <td>Email</td>
                    </tr>
                  {% endif %}
                  {% if project.member2%}
                    <tr>
                      <td>{{project.member2}}</td>
                      <td>Phone</td>
                      <td>Email</td>
                    </tr>
                  {% endif %}
                  {% if project.member3 %}
                    <tr>
                      <td>{{project.member3}}</td>
                      <td>Phone</td>
                      <td>Email</td>
                    </tr>
                  {% endif %}
                  {% if project.member4%}
                    <tr>
                      <td>{{project.member4}}</td>
                      <td>Phone</td>
                      <td>Email</td>
                    </tr>
                  {% endif %}
              </tbody>
            </table>
          </div>
          <div id="Meetings" class="container tab-pane fade"><br>
            <h5>Internal Guide</h5><hr>
            <table class="table-sm table-hover table-bordered">
              <tbody>
                <tr id="head">
                  <td>Demo Number</td>
                  <td>Date</td>
                  <td>Score</td>
                  <td>Remarks</td>
                </tr>
                {%for demos in i_demos%}
                  <tr>
                    <td>#{{loop.index}}</td>
                    <td>{{demos.demo.demo_date.strftime('%d-%b-%Y (%H:%M)') }}</td>
                    <td><a data-toggle="modal" href="#Marksi{{loop.index}}">{{demos.demo.marks.parameter}}</a></td>
                    <td><a data-toggle="modal" href="#Remarksi{{loop.index}}">View Here</a></td>
                  </tr>
                {%endfor%}
              </tbody>
            </table>
            <hr>
            <h5>External Guide</h5><hr>
            <table class="table-sm table-hover table-bordered">
              <tbody>
                <tr id="head">
                  <td>Demo Number</td>
                  <td>Date</td>
                  <td>Score</td>
                  <td>Remarks</td>
                </tr>
                {%for demos in e_demos%}
                  <tr>
                    <td>#{{loop.index}}</td>
                    <td>{{demos.demo.demo_date.strftime('%d-%b-%Y (%H:%M)') }}</td>
                    <td><a data-toggle="modal" href="#Markse{{loop.index}}">{{demos.demo.marks.parameter}}</a></td>
                    <td><a data-toggle="modal" href="#Remarkse{{loop.index}}">View Here</a></td>
                  </tr>
                {%endfor%}
              </tbody>
            </table>

          </div>
          <div id="References" class="container tab-pane fade"><br>
            <h3>References</h3>
            <p>Once you are done with your project, we will inform you to provide your references. Meanwhile, we would suggest you to keep a list of all your reference websites.</p>
          </div>
        </div>

      </div>
    </div>

    <!-- Modal -->
    {%for demos in i_demos%}
      <div class="modal fade " id="Remarksi{{loop.index}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-scrollable" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalScrollableTitle">Remarks</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <table class="table table-hover table-bordered">
                <tbody>
                  <tr>
                    <td><b>Date: </b></td>
                    <td>{{demos.demo.demo_date.strftime('%d-%b-%Y (%H:%M)') }}</td>
                  </tr>
                  <tr>
                    <td colspan="2"><b>Description:  </b><br />{{demos.demo.remark}}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    {%endfor%}
    {%for demos in e_demos%}
      <div class="modal fade " id="Remarkse{{loop.index}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-scrollable" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalScrollableTitle">Remarks</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <table class="table table-hover table-bordered">
                <tbody>
                  <tr>
                    <td><b>Date: </b></td>
                    <td>{{demos.demo.demo_date.strftime('%d-%b-%Y (%H:%M)') }}</td>
                  </tr>
                  <tr>
                    <td colspan="2"><b>Description:  </b><br />{{demos.demo.remark}}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    {%endfor%}
      <!-- Modal - 2 -->
    {%for demos in i_demos%}
        <div class="modal fade " id="Marksi{{loop.index}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
          <div class="modal-dialog modal-xl modal-dialog-scrollable" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalScrollableTitle">Marks Distribution (Internal)</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                After Meeting - {{loop.index}}, your progress in the project can be indicated with the Marks assigned below:<br /><br />
                <table class="table-sm table-hover table-bordered">
                  <tbody>
                    <tr>
                      <td><b>Date: </b></td>
                      <td>{{demos.demo.demo_date.strftime('%d-%b-%Y (%H:%M)') }}</td>
                    </tr>
                    <tr>
                      <td><b>Progress: </b></td>
                      <td>{{demos.demo.progress}}% Completion</td>
                    </tr>
                    <tr>
                      <td><b>Marks: </b></td>
                      <td>{{demos.demo.marks.parameter}}/10</td>
                    </tr>
                    <!-- <tr>
                      <td><b>Logic: </b></td>
                      <td>{{demos.demo.marks.parameter2}}/10</td>
                    </tr>
                    <tr>
                      <td><b>Usability: </b></td>
                      <td>{{demos.demo.marks.parameter3}}/10</td>
                    </tr> -->
                    <!-- <tr>
                      <td><b>Deadline: </b></td>
                      <td>{{demos.demo.marks.parameter4}}/10</td>
                    </tr>
                    <tr>
                      <td><b>Documentation: </b></td>
                      <td>{{demos.demo.marks.parameter5}}/10</td>
                    </tr> -->
                    <!-- <tr>
                      <td><b>Total: </b></td>
                      <td>{{demos.demo.marks.total}}/50</td>
                    </tr> -->
                  </tbody>
                </table>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
    {%endfor%}
    {%for demos in e_demos%}
        <div class="modal fade " id="Markse{{loop.index}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
          <div class="modal-dialog modal-xl modal-dialog-scrollable" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalScrollableTitle">Marks Distribution (Internal)</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                After Meeting - {{loop.index}}, your progress in the project can be indicated with the Marks assigned below:<br /><br />
                <table class="table-sm table-hover table-bordered">
                  <tbody>
                    <tr>
                      <td><b>Date: </b></td>
                      <td>{{demos.demo.demo_date.strftime('%d-%b-%Y (%H:%M)') }}</td>
                    </tr>
                    <tr>
                      <td><b>Progress: </b></td>
                      <td>{{demos.demo.progress}}% Completion</td>
                    </tr>
                    <tr>
                      <td><b>Marks: </b></td>
                      <td>{{demos.demo.marks.parameter}}/10</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
    {%endfor%}
    {%endblock content%}
