{%extends 'layout.html'%}
    {%block content%}
    <br/>
    <div id="forms">
      <div class="container">
        {%if project == 'Not-Found' or id[0]|length != 3 or project.id != p or project.title[:4].replace(" ", "").upper() != id[1] or project.leader[:3].upper() != id[2]%}
          <h1>No Result's Found</h1>
          <h5>Please enter a valid Project ID.</h5>
          <h6>(Kindly check your email, or contact the Admin to get your Project ID.)</h6>
        {% else %}
        <!-- <h4 style="text-align:center;">Mahatma Gandhi Mission's College of Engineering</h4>
        <h5 style="text-align:center;">Department of Computer Science and Engineering</h5><hr /> -->
        <h5 style="text-align:right"><span class="badge badge-primary">{{data}}</span></h5>
        <ul class="nav nav-tabs" role="tablist">
          <li class="nav-item">
            <a class="nav-link tab-design active" data-toggle="tab" href="#ProjectDetails">Project Details</a>
          </li>
          <li class="nav-item">
            <a class="nav-link tab-design" data-toggle="tab" href="#ProjectTeam">Project Team</a>
          </li>
          <li class="nav-item">
            <a class="nav-link tab-design" data-toggle="tab" href="#Meetings">Meetings</a>
          </li>
          <li class="nav-item">
            <a class="nav-link tab-design" data-toggle="tab" href="#References">References</a>
          </li>
        </ul>
  <!-- Tab panes -->
        <div class="tab-content">
          <div id="ProjectDetails" class="container tab-pane active"><br>
            <h3>Project Details</h3>
            <div class="table table-responsive">
              <table class="table table-bordered table-hover">
                <tbody>
                  <tr>
                    <th scope="row">Project ID: </th>
                    <td>{{data}}</td>
                  </tr>
                  <tr>
                    <th scope="row">Project Title: </th>
                    <td>{{project.title}}</td>
                  </tr>
                  <tr>
                    <td colspan="2"><b>Project Description: </b><br /> &nbsp;&nbsp;&nbsp;&nbsp;{{project.desc}}</td>
                  </tr>
                  <tr>
                    <th scope="row">Submitted on: </th>
                    <td>{{ project.date_created.strftime('%d-%B-%Y at %H:%M (%A)') }}</td>
                  </tr>
                  <tr>
                    <th scope="row">Technology Used: </th>
                    <td>{{ project.techUsed }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div id="ProjectTeam" class="container tab-pane fade"><br>
            <h3>Project Team</h3>
            <p>
              This project is being designed, developed and implemented under the guidance of <b>Prof. Bhagyashri Kapre</b>.
            </p>
            <table class="table-sm table-hover table-bordered">
              <tbody>
                <tr id="head">
                  <td>Name</td>
                  <td>Phone</td>
                  <td>Email</td>
                </tr>
                <tr id="leader">
                  <td>{{project.leader}}</td>
                  <td>Phone</td>
                  <td>{{project.leaderEmail}}</td>
                </tr>
                  {% if project.member1%}
                    <tr>
                      <td>{{project.member1}}</td>
                      <td>Phone</td>
                      <td>Email</td>
                    </tr>
                  {% endif %}
                  {% if project.member2%}
                    <tr>
                      <td>{{project.member2}}</td>
                      <td>Phone</td>
                      <td>Email</td>
                    </tr>
                  {% endif %}
                  {% if project.member3 %}
                    <tr>
                      <td>{{project.member3}}</td>
                      <td>Phone</td>
                      <td>Email</td>
                    </tr>
                  {% endif %}
                  {% if project.member4%}
                    <tr>
                      <td>{{project.member4}}</td>
                      <td>Phone</td>
                      <td>Email</td>
                    </tr>
                  {% endif %}
              </tbody>
            </table>
          </div>
          <div id="Meetings" class="container tab-pane fade"><br>
            <h3>Project Meetings</h3>
            <table class="table-sm table-hover table-bordered">
              <tbody>
                <tr id="head">
                  <td>Meeting No.</td>
                  <td>Date</td>
                  <td>Score</td>
                  <td>Remarks</td>
                </tr>
                <tr>
                  <td>1</td>
                  <td>{{ project.date_created.strftime('%d-%b-%Y (%H:%M)') }}</td>
                  <td><a data-toggle="modal" href="#Marks">20 / 30</a></td>
                  <td><a data-toggle="modal" href="#Remarks">View Here</a></td>
                </tr>
                <tr>
                  <td>1</td>
                  <td>{{ project.date_created.strftime('%d-%b-%Y (%H:%M)') }}</td>
                  <td><a data-toggle="modal" href="#Marks">20 / 30</a></td>
                  <td><a data-toggle="modal" href="#Remarks">View Here</a></td>
                </tr>
                <tr>
                  <td>1</td>
                  <td>{{ project.date_created.strftime('%d-%b-%Y (%H:%M)') }}</td>
                  <td><a data-toggle="modal" href="#Marks">20 / 30</a></td>
                  <td><a data-toggle="modal" href="#Remarks">View Here</a></td>
                </tr>
              </tbody>
            </table>
          </div>
          <div id="References" class="container tab-pane fade"><br>
            <h3>References</h3>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
          </div>
        </div>
        {% endif %}
      </div>
    </div>

    <!-- Modal -->
      <div class="modal fade " id="Remarks" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-scrollable" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalScrollableTitle">Remarks</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <table class="table table-hover table-bordered">
                <tbody>
                  <tr>
                    <td><b>Title: </b></td>
                    <td>Change the Header on the Homepage.</td>
                  </tr>
                  <tr>
                    <td colspan="2"><b>Description:  </b><br />
                      The color doesnot give appealing feel. Add Contact Us page on the Header. Provide appropriate and proper links to all the tabs on the Navigation Page and also look for new designs of Homepage.
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>



      <!-- Modal - 2 -->
        <div class="modal fade " id="Marks" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
          <div class="modal-dialog modal-xl modal-dialog-scrollable" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalScrollableTitle">Marks Distribution</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                After Meeting - 1, your progress in the project can be indicated with the Marks assigned below:<br /><br />
                <table class="table-sm table-hover table-bordered">
                  <tbody>
                    <tr>
                      <td><b>Date: </b></td>
                      <td>12 May 2019</td>
                    </tr>
                    <tr>
                      <td><b>Progress: </b></td>
                      <td>25% Completion</td>
                    </tr>
                    <tr>
                      <td><b>Designing: </b></td>
                      <td>8/10</td>
                    </tr>
                    <tr>
                      <td><b>Logic: </b></td>
                      <td>8/10</td>
                    </tr>
                    <tr>
                      <td><b>Parameter - 1: </b></td>
                      <td>8/10</td>
                    </tr>
                    <tr>
                      <td><b>Parameter - 2: </b></td>
                      <td>8/10</td>
                    </tr>
                    <tr>
                      <td><b>Total: </b></td>
                      <td>20/30</td>
                    </tr>
                    <!-- <tr id="head">
                      <td>Date</td>
                      <td>Progress</td>
                      <td>Designing</td>
                      <td>Logic</td>
                      <td>Paramer - 5</td>
                      <td>Paramer - 6</td>
                      <td>Total</td>
                    </tr> -->
                  </tbody>
                </table>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
    {%endblock content%}
