{%extends 'layout.html'%}
  {%block content%}
    <div id="forms">
      <form method="post" action="">
        {{ form.hidden_tag()}}
        <h3 class="formTitle">{{title}} Form</h3>
          <h5>1. Project Details</h5>
        <div class="form-group">
          {{form.projectTitle.label(class="form-control-label")}}
          {% if form.projectTitle.errors %}
            {{form.projectTitle(class="form-control is-invalid")}}
            {% for error in form.projectTitle.errors %}
              <span class="errorFeedback">{{ error }}</span>
            {% endfor %}
          {% else %}
            {{form.projectTitle(class="form-control")}}
          {% endif %}
        </div>
        <div class="form-group">
          {{form.projectDescription.label(class="form-control-label")}}
          <small>Min 150 characters.</small> <small><span id="charNum">0</span> chars entered.</small>
          {% if form.projectDescription.errors %}
            {{form.projectDescription(class="form-control is-invalid" )}}
            {% for error in form.projectDescription.errors %}
              <span class="errorFeedback">{{ error }}</span>
            {% endfor %}
          {% else %}
            {{form.projectDescription(class="form-control", onkeyup="countChar(this)")}}
          {% endif %}
        </div><hr />

        <h5>3. Details of Team Member's</h5>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              {{form.teamName.label(class="form-control-label")}}
              {% if form.teamName.errors %}
                {{form.teamName(class="form-control is-invalid")}}
                {% for error in form.teamName.errors %}
                  <span class="errorFeedback">{{ error }}</span>
                {% endfor %}
              {% else %}
                {{form.teamName(class="form-control")}}
              {% endif %}
            </div>
          </div>
          <div style="background: #FFFF66; border-left: 3px solid #FFFF66; padding:5px;">
            <b>Please Note:</b> Leader is a <span style="color: red">required</span> field. Team Member-1, Team Member-2 and Team Member-3 are <span style="color: red">optional</span>.<br/>
          </div>
          {% for field in form.members%}
            {%set member = 'Team Member' %}
            {% if loop.index == 1 %}
              {%set member = 'leader' %}
            {%endif%}
            <div class="col-md-12 {{member}}-box">
              {% if loop.index == 2 %}
                <center><small><b>DO-NOT</b> mention the leader's name again below. <b>ONLY</b> mention other members of the team. </small></center>
              {%endif%}
              <div class="row">
                <div class="col-md-3 {{member}}">
                  <div class="form-group">
                    {{field.memberName.label(class="form-control-label {{member}}")}}-{{loop.index -1}}
                    {% if field.memberName.errors %}
                      {{field.memberName(class="form-control is-invalid")}}
                      {% for error in field.memberName.errors %}
                        <span class="errorFeedback">{{ error }}</span>
                      {% endfor %}
                    {% else %}
                      {{field.memberName(class="form-control", placeholder="Enter Name")}}
                    {% endif %}
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    {{member.title()}} {{field.memberEmail.label(class="form-control-label")}}
                    {% if field.memberEmail.errors %}
                      {{field.memberEmail(class="form-control is-invalid")}}
                      {% for error in field.memberEmail.errors %}
                        <span class="errorFeedback">{{ error }}</span>
                      {% endfor %}
                    {% else %}
                      {{field.memberEmail(class="form-control", placeholder="Enter Email ID")}}
                    {% endif %}
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    {{member.title()}} {{field.memberClass.label(class="form-control-label")}}
                    {% if field.memberClass.errors %}
                      {{field.memberClass(class="form-control is-invalid")}}
                      {% for error in field.memberClass.errors %}
                        <span class="errorFeedback">{{ error }}</span>
                      {% endfor %}
                    {% else %}
                      {{field.memberClass(class="form-control")}}
                    {% endif %}
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    {{member.title()}} {{field.memberPhone.label(class="form-control-label")}}
                    {% if field.memberPhone.errors %}
                      {{field.memberPhone(class="form-control is-invalid")}}
                      {% for error in field.memberPhone.errors %}
                        <span class="errorFeedback">{{ error }}</span>
                      {% endfor %}
                    {% else %}
                      {{field.memberPhone(class="form-control", placeholder="Contact Number")}}
                    {% endif %}
                  </div>
                </div>
              </div>


            </div>
          {% endfor %}
        </div>
        <hr />
        <h5>4. Other Details</h5>
        <div class="form-group">
            {{form.technologyUsed.label(class="form-control-label")}}
            {% if form.technologyUsed.errors %}
              {{form.technologyUsed(class="form-control is-invalid")}}
              {% for error in form.technologyUsed.errors %}
                <span class="errorFeedback">{{ error }}</span>
              {% endfor %}
            {% else %}
              {{form.technologyUsed(class="form-control")}}
            {% endif %}
        </div>
        <hr />
        <h5>5. Guide Details</h5>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                  {{form.internalGuides.label(class="form-control-label")}}
                  {% if form.internalGuides.errors %}
                    {{form.internalGuides(class="form-control is-invalid")}}
                    {% for error in form.internalGuides.errors %}
                      <span class="errorFeedback">{{ error }}</span>
                    {% endfor %}
                  {% else %}
                    {{form.internalGuides(class="form-control")}}
                  {% endif %}
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                  {{form.externalGuides.label(class="form-control-label")}}
                  {% if form.externalGuides.errors %}
                    {{form.externalGuides(class="form-control is-invalid")}}
                    {% for error in form.externalGuides.errors %}
                      <span class="errorFeedback">{{ error }}</span>
                    {% endfor %}
                  {% else %}
                    {{form.externalGuides(class="form-control")}}
                  {% endif %}
              </div>
            </div>
          </div>
        <div class="form-group">
            {{form.submitProject(class="btn btn-outline-primary")}}
        </div>
      </form>
      <div style="background: #FFFF66; border-left: 3px solid #FFFF66; padding:5px;">
        <b>Please Note:</b> It may take some time to register all your project details and load the confirmation page. Hence, please donot refresh the page in between.
      </div>
    </div>
  {%endblock content%}
