{%extends 'layout.html'%}
    {%block content%}
    <br/>
    <div class="alert alert-primary" role="alert">
      Select a Guide from the dropdown list corresponding to each Project in the table.
    </div>
    <div id="forms">
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th>Sr. No</th>
            <th>Project</th>
            <th>Leader</th>
            <th>Publish</th>
            <th>Assign Guide</th>
          </tr>
        </thead>
        <tbody>
          {% for project in projects %}
          <tr>
            <td>{{project.id}}</td>
            <td>{{project.title}}</td>
            <td>{{project.leader}}</td>
            <td><input type="checkbox" checked data-toggle="toggle" data-on="Published" data-off="Not Published" data-onstyle="success" data-offstyle="danger"></td>
            <td>
              <div class="form-group">
                <select class="form-control form-control-sm" id="selectGuide">
                  <option value="" disabled selected>Select Guide</option>
                  {% for guide in guides %}
                  <option>{{guide.name}}</option>
                  {% endfor %}
                </select>
              </div>
            </td>
          </tr>
            {% endfor %}
        </tbody>
      </table>
      <a class="btn btn-success my-2 my-sm-0" href="#">Save Changes</a>
    </div>
    {%endblock content%}
