{%extends 'layout.html'%}
    {%block content%}
    <br/>
    <div class="alert alert-primary" role="alert">
       <a href="{{ url_for('GuideRegistration')}}">Register</a> as a guide for <a href="{{ url_for('home')}}">projects</a> submitted by students!
    </div>
    <div id="forms">
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th>Sr. No</th>
            <th>Guide Name</th>
            <th>Guide Email</th>
            <th>Area of Interest</th>
          </tr>
        </thead>
        <tbody>
          {% for guide in guides %}
          <tr>
            <td>
              {{guide.id}}
            </td>
            <td>{{guide.name}}</td>
            <td>{{guide.email}}</td>
            <td>{{guide.interest}}</td>
          </tr>
            {% endfor %}
        </tbody>
      </table>
    </div>
    {%endblock content%}
